.review {
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(to right, #e5e7f1, #faeae6);
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 10px;
}
.form {
    display:list-item !important;
    width: 60%;
}