




  
/* FAQ */
#faq .secondary {
  text-align: center;
}

.faq {
  width: 60%;
  margin: 50px auto 20px auto;
}

summary {
  padding: 1em;
  border: 1px solid #b2b2b2;
  margin-bottom: 1em;
  cursor: pointer;
  outline: none;
  border-radius: 0.3em;
  font-weight: 600;
}

details[open] summary~* {
  animation: open 1s ease-in-out;
}

@keyframes open {
  from {
      opacity: 1;
      margin-top: -10px;
  }

  top {
      opacity: 1;
      margin-top: 0;
  }
}

/* End FAQ */